/* ############################################################################
   ## 
   ##  TABLE STYLES
   ##
   ######################################################################### */

table {
    empty-cells: show;
    border-collapse: collapse;
}

tbody {
}

th {
    text-align: left;
    font-weight: bold;
}

tr {
}

td {
}
