@import url('../../Default/global/Global.css');

/* ############################################################################
   ## 
   ##  OneCol1
   ##
   ############################################################################ 

   | Header                               |
   |______________________________________|
   | TrailNav               PageFunctions |
   |______________________________________|
   |                                      |
   | Primary                              |
   |                                      |
   |______________________________________|
   | Secondary                            |
   |______________________________________|
   | PageFunctions                        |
   |______________________________________|
   |                                      |
   | Footer                               |
   
   <Align>
       <Template>
           <AccessibilityToolbar />
           <Header />
           <Content>
               <Page>
                   <TrailNav />
                   <PageFunctionsTop />
                   <PageContent>
                       <Primary />
                       <Secondary />
                   </PageContent>
                   <PageFunctionsBottom />
               </Page>
               <Tertiary />
           </Content>
           <Footer />
       </Template>
   </Align>
*/

/* ####################################
   Custom Design Options
   
   ADD RULES HERE. 
   
   ################################# */

#Page {
    padding-bottom: 2em;
}
#PageInner {
}

    #Page #PageContent {
        padding: 0 52px;
    }
    #Page #PageContentInner {
    }
    
        #Page #PageContent #Primary {
        }
        #Page #PageContent #PrimaryInner {
        }

            #Page #PageContent #Primary #PageBody {
            }
            
            #Page #PageContent #Primary #SubContainers {
            }

            #Page #PageContent #Primary #SubArticles {
            }

        #Page #PageContent #Secondary {
        }
        #Page #PageContent #SecondaryInner {
        }
        
            #Page #PageContent #Secondary #SecondaryContent {
                margin: 1em 0;
                padding: 1em 0;
                
                border-top: #e0e0e0 1px solid;
            }
            
#PageFunctionsTop {
    left: 70px;
}
* html #PageFunctionsTop {
    /* IE6 Only */
    margin-left: 52px; 
}

#PageFunctionsBottom {
    margin-left: 52px;
}

/* ####################################
   Fixed 1 Column Design Elements
   
   DON'T CHANGE.
   
   ################################# */

#Content {
    position: relative; 
    float: left;                    /* A float or a width is required to fix invisibility problems in IE6, but good practise in any case. */
    /* width: 100%;  */               /* Specifying a width ensures consistent page layout in IE7, IE6, FF, otherwise they all treat the page width slightly differently. */
}
#ContentInner {
    position: relative;
    width: 934px;               /* Affected by #Template{width}. */
}

#Tertiary {
    display: none;
}

/*
Known Issues
-------------------
Last Updated: 2008-08-27

- This is a minimal style sheet. Adding position/floats to the various page elements could cause problems. (E.g. adding a float to #ContentInner causes invisibility problems in IE6.) However adding such settings might be necessary to achieve certain designs. In that case this style sheet might end up looking more like the threecols1.css file. 

*/
    